body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:674px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:674px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:671px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:674px;
  width:378px;
  height:671px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:670px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1345px;
  width:378px;
  height:670px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:100px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
