body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:155px;
  height:21px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:31px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:832px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:826px;
  opacity:0.8;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:351px;
  height:626px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:208px;
  width:347px;
  height:622px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:314px;
  height:111px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:70px;
  width:308px;
  height:105px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:17px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:185px;
  width:107px;
  height:13px;
  font-size:10px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:335px;
  height:626px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:218px;
  width:331px;
  height:622px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
