body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1560px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1560px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:772px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:135px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:165px;
  width:320px;
  height:135px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:130px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u377 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:71px;
  width:80px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
