body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:155px;
  height:20px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:30px;
  width:151px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:640px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:634px;
  opacity:0.8;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:376px;
  height:259px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:370px;
  height:253px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:441px;
  width:41px;
  height:41px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:448px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:351px;
  height:134px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:225px;
  width:347px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:314px;
  height:111px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:80px;
  width:308px;
  height:105px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:17px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:204px;
  width:107px;
  height:13px;
  font-size:10px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:343px;
  height:89px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:235px;
  width:339px;
  height:85px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:448px;
  width:98px;
  height:27px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:499px;
  width:41px;
  height:41px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:506px;
  width:98px;
  height:27px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:558px;
  width:41px;
  height:41px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:565px;
  width:98px;
  height:27px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:619px;
  width:41px;
  height:41px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:626px;
  width:98px;
  height:27px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:341px;
  height:44px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:365px;
  width:337px;
  height:40px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:333px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:174px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:150px;
  width:300px;
  height:170px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:290px;
  height:42px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:201px;
  width:286px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:304px;
  height:10px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:275px;
  width:295px;
  height:1px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:35px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:279px;
  width:110px;
  height:31px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:174px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:363px;
  width:300px;
  height:170px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:273px;
  height:23px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:414px;
  width:269px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:304px;
  height:10px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:488px;
  width:295px;
  height:1px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:35px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:492px;
  width:110px;
  height:31px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:36px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:288px;
  width:300px;
  height:32px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:506px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:565px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:626px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:19px;
  height:18px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:336px;
  width:15px;
  height:14px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
