body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:160px;
  height:20px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:31px;
  width:156px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:575px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:569px;
  opacity:0.8;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:314px;
  height:111px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:80px;
  width:308px;
  height:105px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:17px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:204px;
  width:107px;
  height:13px;
  font-size:10px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:19px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:225px;
  width:66px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:135px;
  height:20px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:225px;
  width:131px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:351px;
  height:31px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:273px;
  width:347px;
  height:27px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:343px;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:63px;
  height:20px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:337px;
  width:59px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:20px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:363px;
  width:37px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:13px;
  height:20px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:363px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:20px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:337px;
  width:22px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:20px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:405px;
  width:24px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:13px;
  height:20px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:405px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:20px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:442px;
  width:37px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:13px;
  height:20px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:442px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:20px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:484px;
  width:24px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:13px;
  height:20px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:484px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:202px;
  height:20px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:250px;
  width:198px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
