body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:430px;
  height:101px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:101px;
  width:30px;
  height:663px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:101px;
  width:26px;
  height:663px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:764px;
  width:430px;
  height:102px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:100px;
  width:391px;
  height:685px;
  overflow:hidden;
}
#u34_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
}
#u35_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
  overflow:auto;
}
