body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:671px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:376px;
  height:671px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:126px;
  width:29px;
  height:29px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:137px;
  width:15px;
  height:12px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:396px;
  width:29px;
  height:29px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:407px;
  width:15px;
  height:12px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
